<div class="blog-view-container">
  <h1 class="blog-title">{{post.title}}</h1>
  <p class="blog-meta">Published on {{post.createdAt}}</p>

  {{#if post.social_image}}
    <img src="{{post.social_image}}" class="blog-image" alt="Blog image">
  {{/if}}

  <p class="blog-description">{{post.description}}</p>

  <div class="blog-content">
    {{{post.content}}} <!-- Allow HTML formatting -->
  </div>

  {{#if post.tags}}
    <div class="blog-tags">
      {{#each post.tags}}
        <span class="blog-tag">{{this}}</span>
      {{/each}}
    </div>
  {{/if}}

  <a href="/blogs" class="btn-back">Back to Blogs</a>
</div>
